@import "settings";
// @import "foundation";

   @import "foundation/components/buttons";
   @import "foundation/components/button-groups";
   @import "foundation/components/grid";
   @import "foundation/components/inline-lists";
   @import "foundation/components/orbit";
   @import "foundation/components/panels";
   @import "foundation/components/tabs";
   @import "foundation/components/top-bar";
   @import "foundation/components/type";


// Or selectively include components
//   @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons";
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//    "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


a {
	font-weight: 700;
}

.contain-to-grid nav.top-bar, .top-bar-section ul {
	//margin-bottom: 2px;
	border-bottom: 1px solid $secondary-color;
}

top-bar-section  li > a{
	background: transparent !important;
}

.branding {
	margin-bottom: 20px;
}

#tagline {
	h3, h4 {
		text-align: center;
		font-style: italic;
		color: $secondary-color;
		padding: rem-calc(10);
		line-height: 1.2rem;
	}
}

.orbit-slides-container {
	border: 1px solid $secondary-color;
	overflow: hidden;
}

.main-slider {
	margin-bottom: -20px;
}

hr {
width: 100%;
height: 1px;
margin-left: auto;
margin-right: auto;
background-color: $secondary-color;
color: $secondary-color;
border: 0 none;
}

.display-text p {
	font-size: rem-calc(23);
	font-weight: 300;
	color: $secondary-color;
	padding-bottom: 20px;
	padding-right: 40px;
	margin-right: 30px;
	border-right: 1px solid $secondary-color;
	strong {
		color: $primary-color;
	}
	a {
		font-size: 70%;
		text-transform: uppercase;
		font-weight: 700;
		padding-left: 1rem;
	}
}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

aside {
	top: -20px;
		.slug {
		background-color: $primary-color;
		display: inline-block;
		padding: .5rem;
		width: auto;
		color: white;
		font-size: 80%;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 2px;
		position: absolute;
		top: -2px;
	}
	h4 { color: $secondary-color;
		 font-weight: 600;
}
	p {font-size: 90%;}
}

.update img {
	vertical-align: top;
}

.panel {
	background: white;
	border: none;
	border-top: 1px solid $secondary-color;
	border-bottom: 1px solid $secondary-color;
	padding-bottom: .25rem;
	h4 {
	font-size: rem-calc(23);
	font-weight: 600;
	color: $primary-color;
	}
	p {
	font-size: rem-calc(18);
	font-weight: 400;
	color: $secondary-color;
	}
	.button {
		margin-top: 0px;
	}
}

.call {
	p strong {
			font-size: rem-calc(23);
	font-weight: 600;
	color: $primary-color;
	}
}

.ticker-slider .orbit-slides-container {
	border: none;
	height: 200px;
	overflow: hidden;
}

.main-slider {
	margin-bottom: -20px;
}

footer {
	p, .vcard {
	font-weight: 300;
}
}
